## *Syntax: newList = [ expression(element) for element in oldList if condition ] *

Parameter:

expression: Represents the operation you want to execute on every item within the iterable.

element: The term “variable” refers to each value taken from the iterable.

iterable: specify the sequence of elements you want to iterate through.(e.g., a list, tuple, or string).

condition: (Optional) A filter helps decide whether or not an element should be added to the new list.

In [35]:
numbers = [12, 13, 14,]
doubled = [x *2 for x in numbers]
print(doubled)

[24, 26, 28]

In [36]:
numbers = [1, 2, 3, 4, 5]
squared = [x ** 2 for x in numbers]
print(squared)

[1, 4, 9, 16, 25]

In [37]:
list = [i for i in range(11) if i % 2 == 0]
print(list)

[0, 2, 4, 6, 8, 10]

In [38]:
matrix = [[j for j in range(3)] for i in range(3)]

print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [39]:
List = []

for character in 'Success!':
	List.append(character)

print(List)

['S', 'u', 'c', 'c', 'e', 's', 's', '!']

In [40]:
List = [character for character in 'Successs!']

print(List)

['S', 'u', 'c', 'c', 'e', 's', 's', 's', '!']

In [41]:
import time

def for_loop(n):
	result = []
	for i in range(n):
		result.append(i**2)
	return result


def list_comprehension(n):
	return [i**2 for i in range(n)]

begin = time.time()
for_loop(10**6)
end = time.time()

print('Time taken for_loop:', round(end-begin, 2))

begin = time.time()
list_comprehension(10**6)
end = time.time()

print('Time taken for list_comprehension:', round(end-begin, 2))

Time taken for_loop: 0.38
Time taken for list_comprehension: 0.34

In [42]:
matrix = []

for i in range(3):
    matrix.append([])

    for j in range(5):
        matrix[i].append(j)

print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [43]:
matrix = [[j for j in range(5)] for i in range(3)]

print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [44]:
numbers = []

for i in range(1, 6):
    numbers.append(i*10)

print(numbers)

[10, 20, 30, 40, 50]

In [45]:
numbers = [i*10 for i in range(1, 6)]

print(numbers)

[10, 20, 30, 40, 50]

In [46]:
lis = ["Even" if i % 2 == 0
       else "Odd" for i in range(20)]
print(lis)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [47]:
lis = [num for num in range(100)
	if num % 5 == 0 if num % 10 == 0]
print(lis)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [48]:
cubes = [n**3 for n in range(1, 11)]

print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [28]:
twoDMatrix = [[10, 20, 30],
			[40, 50, 60],
			[70, 80, 90]]

trans = [[i[j] for i in twoDMatrix] for j in range(len(twoDMatrix[0]))]

print(trans)

[[10, 40, 70], [20, 50, 80], [30, 60, 90]]

In [49]:
List = [string[::-1] for string in ('Geeks', 'for', 'Geeks')]

print(List)

['skeeG', 'rof', 'skeeG']

In [50]:
names = ["G", "G", "g"]
ages = [25, 30, 35]
person_tuples = [(name, age) for name, age in zip(names, ages)]
print(person_tuples)

[('G', 25), ('G', 30), ('g', 35)]

In [51]:
def digitSum(n):
	dsum = 0
	for ele in str(n):
		dsum += int(ele)
	return dsum

List = [367, 111, 562, 945, 6726, 873]

newList = [digitSum(i) for i in List if i & 1]

print(newList)

[16, 3, 18, 18]

In [52]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cube = [number**3 for number in numbers]
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [53]:
words = ["apple", "banana", "cherry", "orange"]
word_lengths = [len(word) for word in words]
print(word_lengths)

[5, 6, 6, 6]