In [1]:
a = 5
b = 4
print("The value of a is {} and b is {}".format(a,b))
print("The value of a is {1} and b is {0}".format(b,a))

The value of a is 5 and b is 4
The value of a is 5 and b is 4

In [2]:
print("Hello! {1} {2}. Welcome to {0}!".format("Myanmar","Aung Sett","Paing"))

Hello! Aung Sett Paing. Welcome to Myanmar!

In [3]:
print("{name} is from {team}.".format(name="Aung Sett Paing", team = "Data Team"))

Aung Sett Paing is from Data Team.

In [4]:
a = 3.1425
print("The value of a is %.3f"%a)
print("The value of a is %.2f"%a)

The value of a is 3.143
The value of a is 3.14

In [5]:
data = input("Enter the data:")
print('user input data is :',data)

Enter the data:Hello World!
user input data is : Hello World!

In [6]:
bool(2.1)

True

In [7]:
a_int = 1
b_float = 1.0
c_sum = a_int + b_float
print(c_sum)
print(type(c_sum))

2.0
<class 'float'>

In [8]:
a_int = 1
b_float = 1.0
c_sum = a_int + b_float
print(c_sum)
new_c_sum = int(c_sum)
print(new_c_sum)

2.0
2

In [9]:
int_one = 15
int_two = 10
total = int_one + int_two
print("The total number is", total)

The total number is 25

In [10]:
greet = "Hello World!"
print(greet)
print(len(greet))

Hello World!
12

In [11]:
str = ("Hello world")
print(str[10])

d

In [12]:
str = ("Hello world")
print(len(str[9]))
print(str)
print(str[0:5])
print(str[2:5])
print(str[2:])
print(str[:5])

1
Hello world
Hello
llo
llo world
Hello

In [13]:
str = ("Hello ")
print(str*2)

Hello Hello

In [14]:
str = ("Hello! ")
print(str+"Aung Sett Paing")

Hello! Aung Sett Paing

In [15]:
str = ("Hello Aung Sett Paing")
print(str.upper())

HELLO AUNG SETT PAING

In [16]:
str = ("Hello Aung Sett Paing")
print(str.lower())

hello aung sett paing

In [17]:
str = ("HELLOMYANMAR")
print(str.isupper())

True

In [18]:
tr = ("hellomyanmar")
print(str.islower())

False

In [19]:
str = ("helloMyanmar")
print(str.islower())

False

In [20]:
str = ("helloMyanmar")
print(str.count("l"))

2

In [21]:
str = ("helloMyanmar")
print(str.count("ll"))

1

In [22]:
str = ("helloMyanmar")
print(str.count("m"))

1

In [23]:
str = ("helloMyanmar")
print(str.find("y"))

6

In [24]:
str = ("hello! Myanmar AungSettPaing")
new_string = str.replace("AungSettPaing", "ASP")
print(new_string)

hello! Myanmar ASP

In [25]:
a = 13
b = 4
print('a + b =', a+b)

print('a - b =', a-b)

print('a * b =', a*b)

print('a / b =', a/b)

print('a "%" b =', a%b)

print('a // b =', a//b)

print('a ** b =', a**b)

a + b = 17
a - b = 9
a * b = 52
a / b = 3.25
a "%" b = 1
a // b = 3
a ** b = 28561

In [26]:
a = 13
b = 4
print('a > b =', a>b)

print('a < b =', a<b)

print('a == b =', a==b)

print('a != b =', a!=b)

print('a >= b =', a>=b)

print('a <= b =', a<=b)

a > b = True
a < b = False
a == b = False
a != b = True
a >= b = True
a <= b = False

In [27]:
a = 10
b = 9
c = 13
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [28]:
a = 10
b = 9
c = 13
if a > b or c > a:
    print("Both conditions are True")

Both conditions are True

In [29]:
x = True
print('not x is ', not x)

x=False
print('not x is ', not x)

not x is  False
not x is  True

In [30]:
a = 60
b = 13
c = 0
c = a & b
print("value of c is " , c)

value of c is  12

In [31]:
a = 60
b = 13
c = 0
c = a | b
print("value of c is " , c)

value of c is  61

In [32]:
a = 10
c = ~a;
print('Value of c is ' , c)

Value of c is  -11

In [33]:
a = 5
b = 3
c = a ^ b;
print("Value of c is " , c)

Value of c is  6

In [34]:
a = 60
c = a >> 2
print("Value of c is ", c)

Value of c is  15

In [35]:
a = 60
c = a >> 3
print("Value of c is ", c)

Value of c is  7

In [36]:
a = 60
c = a << 2;
print("Value of c is " , c)

Value of c is  240

In [37]:
a = 60
b = a<<4
print(b)

960

In [38]:
a = 10
b = 10
c = 10
print(id(a),id(b),id(c))

136920705827344 136920705827344 136920705827344

In [39]:
a = 10
b = 10
c = a is b
print(c)

True

In [40]:
a = 10
b = 10
c = a is not b
print(c)

False

In [41]:
a = 10
b = 20
c = a is not b
print(c)

True

In [42]:
a = 10
b = 20
c = a is not b
print(c)
print('a =', id(a), 'b = ', id(b))

True
a = 136920705827344 b =  136920705827664

In [43]:
string1='hello'
string2='hello'

print(id(string1),id(string2))

string3=string1 is string2

print(string3)

if string1 == string2:
    print('They are same')

136920415647152 136920415647152
True
They are same

In [44]:
string1=[1,2,3,4,5,'w']
string2=[1,2,3,4,5]

print( 1 in string1)

if 'w' in string1 :
     print('w is in string1')

print( 2 not in string2)

if 'w' not in string2 :
     print('w is not in string2')

True
w is in string1
False
w is not in string2