In [1]:
a = 100
print(type(a))

<class 'int'>

In [2]:
c = int()
print(c)

0

In [3]:
c = int('101', base=2)
print(c)

5

In [4]:
def square(a):
     return a**2
print(type(square))

<class 'function'>

In [5]:
def square(a):
     return a**2
print(type(square))

fun=square
print(id(square))
print(id(fun))

<class 'function'>
132700529104288
132700529104288

In [6]:
def square(a):
     return a**2
print(type(square))

fun=square
print(fun(2))

<class 'function'>
4

In [7]:
def square(a):
     return a**2
def cube(a):
     return a**3
def fun(number):
     if number==1:
        return square
     else:
        return cube

f=fun(1)
print(f(1))

f=fun(2)
print(f(2))

1
8

In [8]:
def square(a):
     return a**2

def cube(a):
     return a**3

def fun_fun(fn , n):
     return fn(n)

fun_fun(cube,3)

27

In [9]:
def square(a,b):
     return a*b
square(3,4)

12

In [10]:
def square(a,b,c):
    return a*b*c
print(square(1,2,3))

6

In [11]:
def square(a,b,c):
     return a*b*c
print(square(c=1,b=2,a=3))

6

In [12]:
a,b,c=1,2,3
print(a)
print(b)
print(c)

1
2
3

In [13]:
(a,b,c)=[1,2,3]
print(a)
print(b)
print(c)
a,b,c = 10,'a',3.14
print(a)
print(b)
print(c)

1
2
3
10
a
3.14

In [14]:
a,b=10,20
a,b=b,a
print(a)
print(b)

20
10

In [15]:
a,b,c = 'XYZ'
print(a)
print(b)
print(c)

X
Y
Z

In [16]:
a="ABC"
print(a[0])

A

In [17]:
ite={1,2,3,4,5,}
for e in ite:
    print(e)

1
2
3
4
5

In [18]:
ite={1,2,3,4,5,}
print(ite)
ite={'a', 'b' , 'c' , 'd'}
print(ite)

{1, 2, 3, 4, 5}
{'d', 'c', 'b', 'a'}

In [19]:
a,b,c,d = {'A' , 'B' , 'C' , 'D'}
print(a)
print(b)
print(c)
print(d)

A
D
C
B

In [20]:
d = {'A', 'B' , 'C' , 'D' , 'E'}
for i in d:
 print(d)

a,b,c,d,e = d
print(a)
print(b)
print(c)
print(d)
print(e)

{'B', 'C', 'E', 'A', 'D'}
{'B', 'C', 'E', 'A', 'D'}
{'B', 'C', 'E', 'A', 'D'}
{'B', 'C', 'E', 'A', 'D'}
{'B', 'C', 'E', 'A', 'D'}
B
C
E
A
D

In [21]:
l=[1,2,3,4,5,6]
a,*b=l
print(a)
print(b)

1
[2, 3, 4, 5, 6]

In [22]:
s='greenhackers'
a,*b=s
print(a)
print(b)

g
['r', 'e', 'e', 'n', 'h', 'a', 'c', 'k', 'e', 'r', 's']

In [23]:
s='KOSETT'
a,*b,c=s
print(a)
print(b)
print(c)

K
['O', 'S', 'E', 'T']
T

In [24]:
t =('a', 'b', 'c')
a,*b=t
print(a)
print(b)

a
['b', 'c']

In [25]:
l1 = [1,2,3]
l2 = [4,5,6]
l=[*l1 , *l2]
print(l)

[1, 2, 3, 4, 5, 6]

In [26]:
a,*b,(c,d,*e)=[1,2,3,'python']
print(a)
print(b)
print(c)
print(d)
print(e)

1
[2, 3]
p
y
['t', 'h', 'o', 'n']

In [27]:
l =[1,2,3,'python']
print(l[0], l[1:-1] , l[-1][0] , l[-1][1], l[-1][2:])

1 [2, 3] p y thon

In [28]:
l =[1,2,3,'python']
print(l[0], l[1:-1] , l[-1][0] , l[-1][1], list(l[-1][2:]))

1 [2, 3] p y ['t', 'h', 'o', 'n']

In [29]:
l =[1,2,3,'python']

a,b,c,d,e = l[0], l[1:-1] , l[-1][0] , l[-1][1], list(l[-1][2:])
print(a ,b ,c ,d ,e)

1 [2, 3] p y ['t', 'h', 'o', 'n']

In [30]:
l=[1,2,3]
s='XYZ'
ls=[*l,*s]
print(ls)

[1, 2, 3, 'X', 'Y', 'Z']

In [31]:
l=[1,2,3]
s={'a', 'b', 'c'}
ls=[*l,*s]
print(ls)

[1, 2, 3, 'c', 'b', 'a']

In [32]:
s1 = {1,2,3}
s2 = {3,4,5}
c ={*s1 , *s2}
print(c)
print(s1.union(s2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [33]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {5,6,7}
s4 = {7,8,9}
print(s1.union(s2,s3,s4))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {5,6,7}
s4 = {7,8,9}
print(s1.union(s2,s3,s4))
total =[*s1,*s2,*s3,*s4]
print(total)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
[1, 2, 3, 3, 4, 5, 5, 6, 7, 8, 9, 7]

In [35]:
def myFun(*args):
     print(args)
myFun(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [36]:
def myFun(a,b,*args):
    print(a) #1
    print(b) #2
    print(args) #(3,4)
myFun(1,2,3,4)

1
2
(3, 4)

In [37]:
def avg(*args):
    length= len(args)
    total= sum(args)
    return total/length
result=avg(1,2,3,4)
print(result)

2.5

In [38]:
def avg(*args):
    length= len(args)
    total= sum(args)
    if length == 0:
        return 0
    else:
        return length/total

result=avg()
print(result)

0