In [1]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [2]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [3]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [4]:
a = 35
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
elif a!=b:
    print('a is less than b')

a is less than b

In [5]:
a = 35
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [6]:
a = 35
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [7]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [9]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [10]:
fruits = ["aung", "maung", "ko","hein"]
for x in fruits:
    print(x)
    if x == "maung":
        break

aung
maung

In [11]:
fruits = ["aung", "maung", "ko","hein"]
for x in fruits:
    if x == "ko":
        continue
    print(x)

aung
maung
hein

In [12]:
for char in 'Python':
    if char == 'P':
        pass
print("Current character:", char)

Current character: n

In [13]:
list = []
print(list)

[]

In [14]:
list = ["Hello world"]
print(list)

['Hello world']

In [15]:
list = ["Hello","Golden", "Land"]
print(list)

['Hello', 'Golden', 'Land']

In [16]:
list = ["Hello","Golden", "Land"]
print(list[0])
print(list[1])
print(list[2])

Hello
Golden
Land

In [17]:
List=["Hello","Golden", "Land"]
print(List[-1])

Land

In [18]:
List=[['Aung','Paing'],['Ko','Sett']]
print(List[0][1])
print(List[1][1])

Paing
Sett

In [19]:
my_list=[1,2,3,4,5,6,'Aung','Paing',9,10]

print("Original list:")
print(my_list)

my_list.remove(3)
print("\nAfter removing first time from list 3")
print(my_list)

my_list.remove(5)
print("\nAfter removing second time from list 5")
print(my_list)

my_list.remove('Aung')
print("\nAfter removing third time from list 'win'")
print(my_list)

Original list:
[1, 2, 3, 4, 5, 6, 'Aung', 'Paing', 9, 10]

After removing first time from list 3
[1, 2, 4, 5, 6, 'Aung', 'Paing', 9, 10]

After removing second time from list 5
[1, 2, 4, 6, 'Aung', 'Paing', 9, 10]

After removing third time from list 'win'
[1, 2, 4, 6, 'Paing', 9, 10]

In [20]:
my_list=[1,2,3,4,5,6,'Aung','Paing',9,10]
print("Original list:")
print(my_list)

my_list.pop(3)
print("\nAfter popping first time from list 3")
print(my_list)

my_list.pop(5)
print("\nAfter popping second time from list 5")
print(my_list)

my_list.pop()
print("\nAfter popping third time from list index -1")
print(my_list)

Original list:
[1, 2, 3, 4, 5, 6, 'Aung', 'Paing', 9, 10]

After popping first time from list 3
[1, 2, 3, 5, 6, 'Aung', 'Paing', 9, 10]

After popping second time from list 5
[1, 2, 3, 5, 6, 'Paing', 9, 10]

After popping third time from list index -1
[1, 2, 3, 5, 6, 'Paing', 9]

In [21]:
my_list=[1,2,3,4,5,6,'Aung','Paing',9,10]

index=my_list.index('Aung')

print(index)

6

In [22]:
my_list=[1,2,3,4,5,6,'Aung','Paing',9,10]

index=my_list.index('Aung')

print(index)

6

In [23]:
my_list=[1,2,3,4,5,6,'Aung','Paing',9,10]
print('Before update elements list\n',my_list)

my_list.append('Myanmar')
print('Updated elements list\n',my_list)

Before update elements list
 [1, 2, 3, 4, 5, 6, 'Aung', 'Paing', 9, 10]
Updated elements list
 [1, 2, 3, 4, 5, 6, 'Aung', 'Paing', 9, 10, 'Myanmar']

In [24]:
my_list=[1,2,3,4,5,6]
print('Before modifies elements list\n',my_list)

new_list=['Aung', 'Paing', 'Myanmar']

my_list.append(new_list)
print('After modifies my_list\n',my_list)

Before modifies elements list
 [1, 2, 3, 4, 5, 6]
After modifies my_list
 [1, 2, 3, 4, 5, 6, ['Aung', 'Paing', 'Myanmar']]

In [25]:
my_list=[1,2,3,4,5,6]
new_list=['Aung', 'Paing', 'Myanmar']

my_list.extend(new_list)

print('After modifies my_list ',my_list)

After modifies my_list  [1, 2, 3, 4, 5, 6, 'Aung', 'Paing', 'Myanmar']

In [26]:
my_list=[1,2,3,4,5,6]
new_list = ['Aung', 'Paing', 'Myanmar']

my_list +=new_list
print('After modifies my_list ',my_list)

After modifies my_list  [1, 2, 3, 4, 5, 6, 'Aung', 'Paing', 'Myanmar']

In [27]:
my_list=[1,2,3,4,5,6]
print('original list',my_list)

my_list.insert(4,'Aung')
print('\nAfter modifies',my_list)

original list [1, 2, 3, 4, 5, 6]

After modifies [1, 2, 3, 4, 'Aung', 5, 6]

In [28]:
my_list=[1,2,3,4,5,6]
new_list = ['Aung', 'Paing', 'Myanmar']

my_list.insert(2,new_list)
print('After modifies my_list ',my_list)

After modifies my_list  [1, 2, ['Aung', 'Paing', 'Myanmar'], 3, 4, 5, 6]

In [29]:
my_list=[1,2,3,4,5,6,1]
times=my_list.count(1)
print(times)

2

In [30]:
my_list=[1,2,3,4,5,6,1]
my_list.reverse()
print(my_list)

[1, 6, 5, 4, 3, 2, 1]

In [31]:
my_list=[1,2,3,4,5,6,1,0]
my_list.sort()
print(my_list)

[0, 1, 1, 2, 3, 4, 5, 6]

In [32]:
my_list=['u','i','e','a','o']
my_list.sort()
print(my_list)

['a', 'e', 'i', 'o', 'u']

In [33]:
my_list=['u','i','e','a','o']
new_list=my_list
print(new_list)
new_list.append('vowels')
print(new_list)

['u', 'i', 'e', 'a', 'o']
['u', 'i', 'e', 'a', 'o', 'vowels']

In [34]:
my_list=['u','i','e','a','o']
my_list.clear()
print(my_list)

[]

In [35]:
string1=[1,2,3,4,5]
string2=[1,2,3,4,5]
print(id(string1),id(string2))

string3=string1 is string2
print(string3)

if string1 == string2:
    print('They are same')

136770230337024 136770230248064
False
They are same

In [36]:
#88
a =20
print('a address is',id(a))
print('20 address is',id(20))

a address is 136770658255696
20 address is 136770658255696

In [37]:
name1 = 5
def outer_fun():
    name2 = 6
    def inner_fun():
        name3 = 7

In [38]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [39]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [40]:
def green():
    print('We are Myanmar')

In [41]:
def green():
    print('We are Myanmar')
green()

We are Myanmar

In [42]:
def green(DL):
    print('We are Myanmar ' + DL)
green('Data Lighthouse')

We are Myanmar Data Lighthouse

In [43]:
def even_or_odd(x):
    if(x%2== 0):
        print('even')
    else:
        print('odd')

even_or_odd(2)
even_or_odd(5)

even
odd

In [44]:
def even_or_odd(x):
    if(x%2== 0):
        print('even')
    else:
        print('odd')
i=1
while i<5:
    print('{} time calling is'.format(i))
    even_or_odd(i)
    i=i+1

1 time calling is
odd
2 time calling is
even
3 time calling is
odd
4 time calling is
even

In [45]:
def listFun(x):
    x[0] = 15

a_list = [10, 11, 12, 13, 14, 15]
listFun(a_list)

print(a_list)

[15, 11, 12, 13, 14, 15]

In [46]:
def myFun(x):
    x=[20, 30, 40]
    print(x)
lst =[10,11,12,13,14,15]
myFun(lst)
print(lst)

[20, 30, 40]
[10, 11, 12, 13, 14, 15]

In [47]:
def myFun(x):
    x = 20
x = 10
myFun(x)
print(x)

10

In [48]:
def swapping(x, y):
    temp = x;
    x = y;
    y = temp;
x = 2
y = 3
swapping(x, y)

print(x)
print(y)

2
3