In [1]:
def multiplication_or_sum(num1, num2):
    product = num1 * num2
    if product <= 1000:
        return product
    else:
        return num1 + num2

result = multiplication_or_sum(20, 30)
print("The result is", result)

result = multiplication_or_sum(40, 30)
print("The result is", result)

The result is 600
The result is 70

In [2]:
previous_num = 0

for i in range(1, 11):
    x_sum = previous_num + i
    print(x_sum)
    previous_num = i

1
3
5
7
9
11
13
15
17
19

In [3]:
text = "AUNGPAING"
text_list = list(text[::2])

for i in text_list:
    print(i)

A
N
P
I
G

In [4]:
word = input('Enter word ')
print("Original String:", word)

x = list(word)
for i in x[0::2]:
    print(i)

Enter word Hello
Original String: Hello
H
l
o

In [5]:
def remove_chars(text, count):
    output = text[count:]
    print(output)

remove_chars("Hello World",4)

o World

In [6]:
def remove_chars(word, n):
    x = word[n:]
    return x

print(remove_chars("Hello World", 4))
print(remove_chars("Hello World", 2))

o World
llo World

In [7]:
def same_or_not(List):
    if List[0] == List[-1]:
        print("result is True")
    else:
        print("result is False")

numbers_x = [10, 20, 30, 40, 10]
same_or_not(numbers_x)
numbers_y = [75, 65, 35, 75, 30]
same_or_not(numbers_y)

result is True
result is False

In [8]:
def first_last_same(numberList):
    print("Given list:", numberList)

    first_num = numberList[0]
    last_num = numberList[-1]

    if first_num == last_num:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
print("result is", first_last_same(numbers_x))

numbers_y = [75, 65, 35, 75, 30]
print("result is", first_last_same(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
Given list: [75, 65, 35, 75, 30]
result is False

In [9]:
Test = [10, 20, 33, 46, 55]

for i in (Test):
    if i % 5 == 0:
        print(i)

10
20
55

In [10]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55

In [11]:
str_x = "Emma is good developer. Emma is a writer"

cnt = str_x.count("Emma")
print(cnt)

2

In [12]:
def count_emma(statement):
    print("Given String: ", statement)
    count = 0
    for i in range(len(statement) - 1):
        count += statement[i: i + 4] == 'Emma'
    return count

count = count_emma("Emma is good developer. Emma is a writer")
print("Emma appeared ", count, "times")

Given String:  Emma is good developer. Emma is a writer
Emma appeared  2 times

In [13]:
for i in range(1,6):
    print(str(i) * i)
    i += 1

1
22
333
4444
55555

In [14]:
for num in range(10):
    for i in range(num):
        print (num, end=" ")
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

7 7 7 7 7 7 7

8 8 8 8 8 8 8 8

9 9 9 9 9 9 9 9 9

In [15]:
def palindrome_or_not():
    number = input("Please Enter Your Number : ")
    reversed_num = number[::-1]
    print(reversed_num)
    if int(number) == int(reversed_num):
        print("True")
    else:
        print("False")

In [16]:
palindrome_or_not()

Please Enter Your Number : 989
989
True

In [17]:
new_list = []
def odd_and_even(list1, list2):
    for x in list1:
        if x % 2 != 0:
            new_list.append(x)
    for y in list2:
        if y % 2 == 0:
            new_list.append(y)
    return new_list

In [18]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print(odd_and_even(list1,list2))

[25, 35, 40, 60, 90]

In [19]:
def merge_list(list1, list2):
    result_list = []

    for num in list1:
        if num % 2 != 0:
            result_list.append(num)

    for num in list2:
        if num % 2 == 0:
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]

In [20]:
for i in range(1,6):
    x = "* " * (6 - i)
    i -= 1
    print(x)

* * * * *
* * * *
* * *
* *
*

In [21]:
def exponent(base, exp):
    x = base ** exp
    return x

In [22]:
print(exponent(2,5))
print(exponent(5,4))

32
625

In [23]:
def exponent(base, exp):
    num = exp
    result = 1
    while num > 0:
        result = result * base
        num = num - 1
    print(base, "raises to the power of", exp, "is: ", result)

exponent(5, 4)

5 raises to the power of 4 is:  625

In [24]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100