In [64]:
a = 5
b = 4
print("The value of a is {} and b is {}".format(a,b))
print("The value of a is {1} and b is {0}".format(b,a))

The value of a is 5 and b is 4
The value of a is 5 and b is 4

In [65]:
print("Hello! {1} {2}. Welcome to {0} {3}!".format("Hana","Aung Sett","Paing","Microfinance"))

Hello! Aung Sett Paing. Welcome to Hana Microfinance!

In [66]:
print("{name} is from {team}.".format(name="Aung Sett Paing", team = "Data Team"))

Aung Sett Paing is from Data Team.

In [67]:
a = 3.1425
print("The value of a is %.3f"%a)
print("The value of a is %.2f"%a)

The value of a is 3.143
The value of a is 3.14

In [68]:
data = input("Enter the data:")
print('user input data is :',data)

Enter the data:Hello World!
user input data is : Hello World!

In [69]:
bool(2.1)

True

In [70]:
a_int = 1
b_float = 1.0
c_sum = a_int + b_float
print(c_sum)
print(type(c_sum))

2.0
<class 'float'>

In [71]:
a_int = 1
b_float = 1.0
c_sum = a_int + b_float
print(c_sum)
new_c_sum = int(c_sum)
print(new_c_sum)

2.0
2

In [72]:
int_one = 15
int_two = 10
total = int_one + int_two
print("The total number is", total)

The total number is 25

In [73]:
greet = "Hello World!"
print(greet)
print(len(greet))

Hello World!
12

In [74]:
str = ("Hello world")
print(str[10])

d

In [75]:
str = ("Hello world")
print(len(str[9]))
print(str)
print(str[0:5])
print(str[2:5])
print(str[2:])
print(str[:5])

1
Hello world
Hello
llo
llo world
Hello

In [76]:
str = ("Hello ")
print(str*2)

Hello Hello

In [77]:
str = ("Hello! ")
print(str+"Aung Sett Paing")

Hello! Aung Sett Paing

In [78]:
str = ("Hello Aung Sett Paing")
print(str.upper())

HELLO AUNG SETT PAING

In [79]:
str = ("Hello Aung Sett Paing")
print(str.lower())

hello aung sett paing

In [80]:
str = ("HELLOMYANMAR")
print(str.isupper())

True

In [81]:
tr = ("hellomyanmar")
print(str.islower())

False

In [82]:
str = ("helloMyanmar")
print(str.islower())

False

In [83]:
str = ("helloMyanmar")
print(str.count("l"))

2

In [84]:
str = ("helloMyanmar")
print(str.count("ll"))

1

In [85]:
str = ("helloMyanmar")
print(str.count("m"))

1

In [86]:
str = ("helloMyanmar")
print(str.find("y"))

6

In [87]:
str = ("hello! Myanmar AungSettPaing")
new_string = str.replace("AungSettPaing", "ASP")
print(new_string)

hello! Myanmar ASP

In [88]:
a = 13
b = 4
print('a + b =', a+b)

print('a - b =', a-b)

print('a * b =', a*b)

print('a / b =', a/b)

print('a "%" b =', a%b)

print('a // b =', a//b)

print('a ** b =', a**b)

a + b = 17
a - b = 9
a * b = 52
a / b = 3.25
a "%" b = 1
a // b = 3
a ** b = 28561

In [89]:
a = 13
b = 4
print('a > b =', a>b)

print('a < b =', a<b)

print('a == b =', a==b)

print('a != b =', a!=b)

print('a >= b =', a>=b)

print('a <= b =', a<=b)

a > b = True
a < b = False
a == b = False
a != b = True
a >= b = True
a <= b = False

In [90]:
a = 10
b = 9
c = 13
if a > b and c > a:
    print("Both conditions are True")

Both conditions are True

In [91]:
a = 10
b = 9
c = 13
if a > b or c > a:
    print("Both conditions are True")

Both conditions are True

In [92]:
x = True
print('not x is ', not x)

x=False
print('not x is ', not x)

not x is  False
not x is  True

In [93]:
a = 60
b = 13
c = 0
c = a & b
print("value of c is " , c)

value of c is  12

In [94]:
a = 60
b = 13
c = 0
c = a | b
print("value of c is " , c)

value of c is  61

In [95]:
a = 10
c = ~a;
print('Value of c is ' , c)

Value of c is  -11

In [96]:
a = 5
b = 3
c = a ^ b;
print("Value of c is " , c)

Value of c is  6

In [97]:
a = 60
c = a >> 2
print("Value of c is ", c)

Value of c is  15

In [98]:
a = 60
c = a >> 3
print("Value of c is ", c)

Value of c is  7

In [99]:
a = 60
c = a << 2;
print("Value of c is " , c)

Value of c is  240

In [100]:
a = 60
b = a<<4
print(b)

960

In [101]:
a = 10
b = 10
c = 10
print(id(a),id(b),id(c))

137815054205456 137815054205456 137815054205456

In [102]:
a = 10
b = 10
c = a is b
print(c)

True

In [103]:
a = 10
b = 10
c = a is not b
print(c)

False

In [104]:
a = 10
b = 20
c = a is not b
print(c)

True

In [105]:
a = 10
b = 20
c = a is not b
print(c)
print('a =', id(a), 'b = ', id(b))

True
a = 137815054205456 b =  137815054205776

In [106]:
string1='hello'
string2='hello'

print(id(string1),id(string2))

string3=string1 is string2

print(string3)

if string1 == string2:
    print('They are same')

137814831034736 137814831034736
True
They are same

In [107]:
string1=[1,2,3,4,5,'w']
string2=[1,2,3,4,5]

print( 1 in string1)

if 'w' in string1 :
     print('w is in string1')

print( 2 not in string2)

if 'w' not in string2 :
     print('w is not in string2')

True
w is in string1
False
w is not in string2